<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Consultation des Contrats</title>
    </h:head>
    <h:body>
        
      <h:form>
            
        <f:view locale="fr">
                
           <p:panelGrid columns="3">
                    
              <p:outputLabel value="N° Contrat" for="numcont"/>
              
              <p:inputText   id="numcont"   value="#{controleurDemo.numcont}" />
              
              <p:commandButton value="OK"   action="#{controleurDemo.ecouteurRecherche()}" 
                                            update="@all"/>  
                
           </p:panelGrid>
                
           <p:panelGrid columns="2">
                    
               <p:outputLabel value="Client" />
               <h:outputText   value="#{controleurDemo.contrat.leClient.nom}" />
                    
                    
               <p:outputLabel  value="Date Contrat" />
               <h:outputText   value="#{controleurDemo.contrat.dateCont}" > 
                  <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>
               </h:outputText> 
                   
               <p:outputLabel value="Montant Contrat" />    
               <h:outputText   value="#{controleurDemo.contrat.montantContrat}" >
                  <f:convertNumber type="currency" currencySymbol="€" 
                                   groupingUsed="true" 
                                   minFractionDigits="2"/>
               </h:outputText> 
               
               <p:outputLabel value="Total Interventions" />
               <h:outputText   value="#{controleurDemo.contrat.coutTotalContrat()}" >
                 <f:convertNumber type="currency" currencySymbol="€" 
                                   groupingUsed="true" 
                                   minFractionDigits="2"/>
               </h:outputText> 
               
               
               <p:outputLabel value="Ecart" />
               <h:outputText   value="#{controleurDemo.contrat.ecartAnnee()}">
                 <f:convertNumber type="currency" currencySymbol="€" 
                                   groupingUsed="true" 
                                   minFractionDigits="2"/>
               </h:outputText> 
               
                                   
            </p:panelGrid>
                
                
            <p:dataTable value="#{controleurDemo.contrat.interventionsAnneeCourante}" var="interv" sortBy="#{interv.numero}"   >
                
               <p:column   headerText="N° Intervention"   > #{interv.numero} </p:column> 
                
               <p:column headerText="Date" >
                 <h:outputText   value="#{interv.dateInterv}" >
                    <f:convertDateTime pattern="dd/MM/yyyy"  timeZone="Europe/Paris"/>  
                 </h:outputText> 
               </p:column>
                    
               <p:column  headerText="Technicien" > #{interv.leTechnicien.nom}</p:column>
               
               <p:column  headerText="Coût" > 
                   <h:outputText    value="#{interv.coutInterv()}">
                 <f:convertNumber type="currency" currencySymbol="€" 
                                   groupingUsed="true" 
                                   minFractionDigits="2"/>
               </h:outputText> 
               </p:column>
                              
             </p:dataTable>
            </f:view>
        </h:form>   
    </h:body>
</html>

